


<%- include('head') %>

		<!-- slide-bar start -->
		<aside class="slide-bar">
			<div class="close-mobile-menu">
				<a href="javascript:void(0);">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<!-- offset-sidebar start -->
			<div class="offset-sidebar">
				<div class="offset-widget offset-logo mb-30">
					<a href="/">
						<img src="user/assets/img/logo/header-logo-2.png" alt="logo">
					</a>
				</div>
				<div class="mobile-menu"></div>
				<div class="offset-widget mb-40">
					<!-- <div class="info-widget">
						<h4 class="offset-title mb-20">About Us</h4>
						<p class="mb-30">
							But I must explain to you how all this mistaken idea of denouncing pleasure and
							praising pain was born and will give you a complete account of the system and
							expound the actual teachings of the great explore
						</p>
					</div> -->
				</div>
				<div class="offset-widget mb-30 pr-10">
					<div class="info-widget info-widget2">
						<h4 class="offset-title mb-20">Contact Info</h4>
						<p>
							<i class="fal fa-address-book"></i>
							Justin ram </p>
						<p>
							<i class="fal fa-phone"></i>
							+91 8086 602 159
						</p>
						<p>
							<i class="fal fa-envelope-open"></i>
							justramin000@gmail.com
						</p>
					</div>
				</div>
				<!-- <div class="login-btn text-center">
					<a class="ht_btn w-100" href="login.html">Login</a>
				</div> -->
			</div>
			<!-- offset-sidebar end -->

		</aside>
		<div class="body-overlay"></div>
		<!-- slide-bar end -->

		<main>
			<!--page-title-area start-->
			<div class="page-title-area pt-215 pb-md-60">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-9">
							<div class="page-title-wrapper text-lg-start text-center mb-40">
								<h2 class="page-title mb-10">About</h2>
								<nav class="d-none" aria-label="breadcrumb">
									<ul class="breadcrumb list-none justify-content-center justify-content-md-start">
										<li><a href="index.html">Home</a></li>
										<li><a href="#">Pages</a></li>
										<li class="active" aria-current="page">FAQ</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-lg-3 d-none d-lg-inline-block">
							<div class="page-title-btn text-center mb-40">
								<div class="button-2">
									<a class="scroll-btn" href="#">
										<img class="bg-round" src="user/assets/img/about/s-button-5.png" alt="shape">
										<span class="icon">
											<i class="bi bi-arrow-up-right"></i>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--page-title-area end-->


			<!-- about-section start -->
			<section class="about-section pt-40">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="about-text-wrapper-4 mb-30">
								<div class="upper-title-2 mb-30">Welcome!</div>
								<h2 class="about-title mb-15">Designing Digital Delights</h2>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="about-img-wrapper mb-30">
								<img class="img-fluid" src="user/assets/image/about1.jpg" alt="about">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- about-section end -->

			<!-- partners-section start -->
			<!-- <div class="theme-bg logos brand-padding mt-90">
				<div class="partners-two logos-slide">
					<div class="items"> <img src="user/assets/img/brand/brand-12.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-13.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-14.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-15.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-16.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-17.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
				</div>
				<div class="partners-two logos-slide">
					<div class="items"> <img src="user/assets/img/brand/brand-12.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-13.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-14.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-15.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-16.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
					<div class="items"> <img src="user/assets/img/brand/brand-17.png" alt="brand"></div>
					<div class="items"><img src="user/assets/img/icon/icon-1.svg" alt="brand"></div>
				</div>
			</div> -->
			<!-- partners-section end -->


			<!-- skills-section start -->
			<section class="heding-bg project-section position-relative pt-100 pb-100 pb-lg-70 pt-lg-90">
				<img class="about-shape-01" src="user/assets/img/shape/square-2.png" alt="shape">
				<img class="about-shape-02" src="user/assets/img/shape/star-5.png" alt="shape">
				<div class="container">
					<div class="row">
						<div class="col-xl-7 col-lg-8 mb-40">
							<h2 class="wrapper-title text-white mb-20">Recent Projects</h2>
							<p class="text-white">Focus on building robust web solutions that enhance functionality and drive meaningful change. Foster seamless collaboration to create impactful digital experiences.</p>
						</div>
					</div>
					<div class="row portfolio-wrapper-3 align-items-center">
						<div class="col-md-2 ps-md-0">
							<span class="me-4">01.</span>
						</div>
						<div class="col-md-8">
							<h2>E-commerce Platform</h2>
						</div>
						<div class="col-md-2 pe-md-0">
							<div class="text-md-end">
								<a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
							</div>
						</div>
					</div>
					<div class="row portfolio-wrapper-3 align-items-center">
						<div class="col-md-2 ps-md-0">
							<span class="me-4">02.</span>
						</div>
						<div class="col-md-8">
							<h2>Business Consultancy Website</h2>
						</div>
						<div class="col-md-2  pe-md-0">
							<div class="text-md-end">
								<a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
							</div>
						</div>
					</div>
					<div class="row portfolio-wrapper-3 align-items-center">
						<div class="col-md-2 ps-md-0">
							<span class="me-4">03.</span>
						</div>
						<div class="col-md-8">
							<h2>CRUD Web Application</h2>
						</div>
						<div class="col-md-2  pe-md-0">
							<div class="text-md-end">
								<a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
							</div>
						</div>
					</div>
					<div class="row portfolio-wrapper-3 align-items-center">
						<div class="col-md-2 ps-md-0">
							<span class="me-4">04.</span>
						</div>
						<div class="col-md-8">
							<h2>Music Website</h2>
						</div>
						<div class="col-md-2  pe-md-0">
							<div class="text-md-end">
								<a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
							</div>
						</div>
					</div>
					<!-- <div class="row portfolio-wrapper-3 align-items-center">
						<div class="col-md-2 ps-md-0">
							<span class="me-4">05.</span>
						</div>
						<div class="col-md-8">
							<h2>Infographic Innovation</h2>
						</div>
						<div class="col-md-2  pe-md-0">
							<div class="text-md-end">
								<a class="icon-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
							</div>
						</div>
					</div> -->
				</div>
			</section>
			<!-- skills-section end -->

			<!-- work-process-section start -->
			<section class="work-processs-section pt-160 pb-125 pt-lg-110 pb-lg-65">
				<div class="container">
					<div class="row">
						<div class="col-xl-7 col-lg-8 mb-40">
							<h2 class="wrapper-title mb-20">Services Offered</h2>
							<p>I provide a range of web development services designed to meet the diverse needs of clients, ensuring high-quality and effective solutions:</p>
						</div>
					</div>
					<div class="row align-items-center justify-content-center">
						<div class="col-lg-4 col-md-6">
							<div class="text-box-style mb-55">
								<div class="icon">
									<span class="step">01</span>
									<img src="user/assets/img/icon/icon-23.svg" alt="icon">
								</div>
								<h4 class="process-title mb-15">Dynamic Websites</h4>
								<p>Build responsive and interactive websites that adapt to user input and provide real-time data updates for enhanced user engagement.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="text-box-style mb-55">
								<div class="icon">
									<span class="step">02</span>
									<img src="user/assets/img/icon/icon-24.svg" alt="icon">
								</div>
								<h4 class="process-title mb-15">Static Websites</h4>
								<p>Create fast and efficient static websites that deliver essential information without the need for server-side processing, perfect for landing pages and portfolios.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="text-box-style mb-55">
								<div class="icon">
									<span class="step">03</span>
									<img src="user/assets/img/icon/icon-25.svg" alt="icon">
								</div>
								<h4 class="process-title mb-15">UI/UX Design</h4>
								<p>Focus on creating intuitive and visually appealing interfaces that enhance user experience, making interactions seamless and enjoyable.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="text-box-style mb-55">
								<div class="icon">
									<span class="step">04</span>
									<img src="user/assets/img/icon/icon-26.svg" alt="icon">
								</div>
								<h4 class="process-title mb-15">Advanced Security</h4>
								<p>Implement robust security measures to protect websites from vulnerabilities, ensuring user data is safe and secure.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="text-box-style mb-55">
								<div class="icon">
									<span class="step">05</span>
									<img src="user/assets/img/icon/icon-24.svg" alt="icon">
								</div>
								<h4 class="process-title mb-15">Website Hosting</h4>
								<p>Provide reliable hosting solutions and ongoing maintenance services to keep websites running smoothly and efficiently.</p>
							</div>
						</div>
						<div class="col-lg-4 d-none d-lg-inline-block">
							<div class="text-box-shape text-center mb-55">
								<img class="shape-01" src="user/assets/img/shape/round-bg-4.svg" alt="shape">
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- work-process-section end -->

<!-- 			
			<div class="white-bg partners-section">
				<div class="logos">
					<div class="logos-slide">
						<div class="items"> <img src="user/assets/img/brand/brand-1.png" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-line-1.svg" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-2.png" alt="brand"></div>
						<div class="items"> <img src="user/assets/img/brand/brand-line-1.svg" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-3.png" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-line-1.svg" alt="brand"></div>
					</div>
					<div class="logos-slide">
						<div class="items"> <img src="user/assets/img/brand/brand-1.png" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-line-1.svg" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-2.png" alt="brand"></div>
						<div class="items"> <img src="user/assets/img/brand/brand-line-1.svg" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-3.png" alt="brand"></div>
						<div class="items"><img src="user/assets/img/brand/brand-line-1.svg" alt="brand"></div>
					</div>
				</div>
			</div> -->
			<!-- partners-section end -->

			<!-- price-section start -->
			<!-- <section class="price-section pt-160 pb-135 pt-lg-110 pb-lg-75">
				<h2 class="wrapper-title text-center mb-60">Pricing For All</h2>
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-lg-4 col-md-6">
							<div class="plan text-center mb-45">
								<div class="plan-header">
									<h4>Basic</h4>
									<img class="black-icon" src="user/assets/img/icon/icon-14.svg" alt="icon">
									<img class="white-icon" src="user/assets/img/icon/icon-14w.svg" alt="icon">
									<h3 class="price">$125.00</h3>
									<p class="desc">For 24hr or Same day delivery</p>
								</div>
								<div class="plan-body">
									<ul>
										<li><span><i class="bi bi-chevron-right"></i></span> 01 Home Page</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 05 Section</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 03 Times Revision</li>
										<li><span><i class="bi bi-chevron-right"></i></span> Responsive Design</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 24/7 Support</li>
									</ul>
								</div>
								<div class="plan-footer">
									<a class="ht_btn" href="contact.html">Get It Now</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="plan text-center mb-45">
								<div class="plan-header">
									<h4>Professional</h4>
									<img class="black-icon" src="user/assets/img/icon/icon-15.svg" alt="icon">
									<img class="white-icon" src="user/assets/img/icon/icon-15w.svg" alt="icon">
									<h3 class="price">$225.00</h3>
									<p class="desc">For 24hr or Same day delivery</p>
								</div>
								<div class="plan-body">
									<ul>
										<li><span><i class="bi bi-chevron-right"></i></span> 01 Home Page</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 05 Section</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 03 Times Revision</li>
										<li><span><i class="bi bi-chevron-right"></i></span> Responsive Design</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 24/7 Support</li>
									</ul>
								</div>
								<div class="plan-footer">
									<a class="ht_btn" href="contact.html">Get It Now</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="plan text-center mb-45">
								<div class="plan-header">
									<h4>Premium</h4>
									<img class="black-icon" src="user/assets/img/icon/icon-16.svg" alt="icon">
									<img class="white-icon" src="user/assets/img/icon/icon-16w.svg" alt="icon">
									<h3 class="price">$525.00</h3>
									<p class="desc">For 24hr or Same day delivery</p>
								</div>
								<div class="plan-body">
									<ul>
										<li><span><i class="bi bi-chevron-right"></i></span> 01 Home Page</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 05 Section</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 03 Times Revision</li>
										<li><span><i class="bi bi-chevron-right"></i></span> Responsive Design</li>
										<li><span><i class="bi bi-chevron-right"></i></span> 24/7 Support</li>
									</ul>
								</div>
								<div class="plan-footer">
									<a class="ht_btn" href="contact.html">Get It Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<!-- price-section end -->


			<%- include('footer') %>