<section class="black-bg contact-section contact-bg-1 pt-100 pb-100 pb-lg-30 pt-lg-75">
    <img src="user/assets/img/shape/square.svg" alt="shape" class="shape-01">
    <h2 class="wrapper-title text-white text-center mb-150 mb-lg-50">Let's Connect</h2>
    <div class="left-img">
        <img class="w-100" src="user/assets/image/3.jpg" alt="author">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="main-form ms-xl-5">
                    <form method="post" action="/contactPost" class="ps-xl-4">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Enter your first name">
                        
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Enter your e-mail">
                        
                        <label>I’m Interested In</label>
                        <input type="text" name="interest" placeholder="Enter your interest">
                        
                        <label>Message</label>
                        <textarea name="message" cols="30" rows="10" placeholder="Write your message"></textarea>
                        
                        <button class="ht-btn-four" type="submit">
                            <i class="bi bi-send"></i> Send Now
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-section end -->
</main>


<!--footer-area start-->
<footer class="black-bg footer-area-one position-relative">
<div class="footer-wrapper-one pt-75 pb-20">
    <img src="user/assets/img/shape/star-5.png" alt="" class="shape-01s">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-8">
                <div class="footer-widget mb-30">
                    <p class="footer-desc">"Building dreams, one line of code at a time. Reach out, let's make something great together."</p>
                    <!-- <a class="chatbot" href="contact.html">Let’s Chat <i
                            class="bi bi-arrow-up-right"></i></a> -->
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="footer-widget ps-xxl-5 ms-xxl-5 mb-30">
                    <!-- <ul class="style-none">
                        <li>
                            <a href="about.html">About us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact </a>
                        </li>
                        <li>
                            <a href="blog.html">blog</a>
                        </li>
                        <li>
                            <a href="contact.html">Policy</a>
                        </li>
                        <li>
                            <a href="contact.html">Refund</a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer-widget mb-30 ms-xl-5 ps-xl-4">
                    <a class="mail d-block mb-30" href="mailto:justramin000@gmail.com"><span
                            class="text-theme">Justramin000</span>@gmail.com</a>
                    <address>Justin Ram  
                        HSR LayOut, Bangalore,  
                        Karnataka,  Ph:8086602159</address>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright-area pt-50 pb-25">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 text-lg-start text-center">
                <div class="copyright-text mb-30">
                    <!-- <p>
                        <a href="#">creativegigs</a>
                        © 2024, All Rights Reserved</p> -->
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 text-lg-end text-center">
                <div class="social-media mb-30">
                    <a href="https://www.linkedin.com/in/justin-kerala/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/Justramin"><i class="fab fa-github"></i></a>
                    <a href="https://leetcode.com/u/justinram/" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png" alt="LeetCode" style="width:20px; height:20px;">
                      </a>
                    <a href="https://www.instagram.com/____just_in____/?next=%2F"><i class="fab fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<!--footer-area end-->

<!--scrollToTopBtn end-->
<a id="scrollToTopBtn" class="progress-wrap">
<i class="bi bi-arrow-up"></i>
</a>


</div>
<!-- main-page-wrapper end -->



<!-- JS here -->

<script src="user/assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="user/assets/js/vendor/popper.min.js"></script>
<script src="user/assets/js/vendor/bootstrap.min.js"></script>
<script src="user/assets/js/jquery.meanmenu.js"></script>
<script src="user/assets/js/slick.min.js"></script>
<script src="user/assets/js/jquery.easypiechart.min.js"></script>
<script src="user/assets/js/jquery.counterup.min.js"></script>
<script src="user/assets/js/jquery.magnific-popup.min.js"></script>
<script src="user/assets/js/metisMenu.min.js"></script>
<script src="user/assets/js/wow.min.js"></script>
<script src="user/assets/js/jquery.waypoints.min.js"></script>
<script src="user/assets/js/simpleParallax.min.js"></script>
<script src="user/assets/js/aos.js"></script>
<script src="user/assets/js/lenis.min.js"></script>
<script src="user/assets/js/jquery.nice-select.min.js"></script>


<!--Custom JS here -->
<script src="user/assets/js/main.js"></script>


</body>

</html>